<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gerenciador de Eventos{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="icon" href="/static/img/calendar-event-thumbnail.ico" type="image/x-icon">
</head>
<body>
<header>
  <img src="/static/img/calendar-event-thumbnail.png" width="90px" height="90px"/>
  <h1>Gerenciador de Eventos</h1>
  <div style="display: flex; flex-direction: column; align-items: flex-end;">
    {% if request.session.get('user_id') %}
    <div style="padding: 0.5rem 1rem;">
      {{ request.session.get('username') }}
       <form style="display: inline;" hx-post="/auth/logout" hx-target="body" hx-swap="outerHTML"><button type="submit" class="btn-small" 
        style="background: #e5a7a73b; padding: 0.2rem 0.8rem; cursor: pointer; border-color: coral; margin-left: 0.8rem;">
        🚪 Sair</button></form>
    </div>
    {% endif %}
    <nav>
      📅<a href="/events">Eventos</a>|
      👥<a href="/participants">Participantes</a>|
      ✅<a href="/occurrences/checkin-checkout">Check-in</a>|
      ✔️<a href="/occurrences/checkin-checkout">Check-out</a>
      {% if request.session.get('user_id') %}
        {% if request.session.get('profile') == 'admin' %}
          | 📋<a href="/registrations">Registros</a>
        {% endif %}
      {% else %}
        | <a href="/auth/login">🔐 Login</a>
      {% endif %}
    </nav>
  </div>
</header>

<!-- Flash Messages -->
<div id="flash-messages" style="display: flex; justify-content: center;">
{% for message in request.session.pop('_messages', []) %}
  <div class="flash-message {{ message.category }}">
    {{ message.message }}
    <button onclick="this.parentElement.remove()" style="background: none; border: none; font-size: 1.2em; cursor: pointer; padding: 0rem 1rem; margin-top: -1rem;">&times;</button>
  </div>
{% endfor %}
</div>

<main>
  {% block content %}{% endblock %}
</main>
<footer>
  <small>KingdomSys &copy; 2025</small>
</footer>
</body>
</html>