{% extends "base.html" %}
{% block title %}Eventos{% endblock %}
{% block content %}

<div class="action-bar">
  <h2>📅 Eventos</h2>
  {% set user_profile = request.session.get('profile') %}
  {% if user_profile in ['admin', 'organizer'] %}
  <button class="btn-primary" hx-get="/events/new" hx-target="#content" hx-swap="innerHTML">
    ➕ Novo Evento
  </button>
  {% endif %}
</div>

<div id="content">
  {% include "event_list_content.html" %}
</div>

<!-- <div id="modal"></div> -->

{% endblock %}